body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.8s;
  background: linear-gradient(128deg, #ac06f2 0%, #161ba0 111.86%);
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
  color: red;
}

.usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding-top: 3rem;
  background-color: #fff;
  height: 400px;
  width: 650px;
  border-radius: 5px;
}

.campoTexto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nomeUser {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

.btn-enviar {
  font-size: 40px;
  font-weight: bolder;
}

.usuario.ativado {
  opacity: 0;
  transition: 0.3s;
}

.certificado {
  position: relative;
  left: -500%;
  width: 100%;
  top: 3rem;
}

.certificado.ativado {
  left: 0;
  transition: 0.8s ease-in-out;
  transition-delay: 0.15s;
}
.certificado.ativado img {
  width: 95rem;
  height: 70rem;
}


.texto {
  position: relative;
  top: -35rem;
  left: 12.1rem;
  z-index: 99;
  width: 75rem;
  color: rgba(22, 27, 160, 0.41);
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nomeDoUsuario {
  position: relative;
  top: -54.5rem;
  left: 30rem;
  z-index: 99;
  color: rgba(22, 27, 160, 0.41);
  font-size: 60px;
  font-style: normal;
  font-weight: bolder;
}
