body {
  height: 100vh;
}

@media (min-width: 480px) and (max-width: 767.98px) {
  body {
    background-image: url("../../images/home_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .inicioBtn a {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    width: 170px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 320%;
    margin-right: 110px;
    margin-bottom: 25%;
    color: #fff;
    background: #651448;
    box-shadow: 0px 0px 20px #67626d;
    cursor: pointer;
    position: relative;
  }
  .inicioBtn a:hover {
    background: #561787;
  }

  .fixed-top img {
    margin-top: 20px;
    width: 200px;
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    background-image: url("../../images/home_tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .inicioBtn a {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    width: 170px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 300%;
    margin-right: 110px;
    margin-bottom: 25%;
    color: #fff;
    background: #651448;
    box-shadow: 0px 0px 20px #67626d;
    cursor: pointer;
    position: relative;
  }
  .inicioBtn a:hover {
    background: #561787;
  }
  .fixed-top img {
    margin-top: 20px;
    width: 400px;
    height: 100px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    background-image: url("../../images/home.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .inicioBtn a {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    width: 170px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 230%;
    margin-right: 110px;
    margin-bottom: 25%;
    color: #fff;
    background: #651448;
    box-shadow: 0px 0px 20px #67626d;
    cursor: pointer;
    position: relative;
  }
  .inicioBtn a:hover {
    background: #561787;
  }
}

@media (min-width: 1200px) and (max-width: 3000px) {
  body {
    background-image: url("../../images/home.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .inicioBtn a {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    width: 170px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 300%;
    margin-right: 110px;
    margin-bottom: 25%;
    color: #fff;
    background: #651448;
    box-shadow: 0px 0px 20px #67626d;
    cursor: pointer;
    position: relative;
  }
  .inicioBtn a:hover {
    background: #561787;
  }
}
