/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#cards {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

h5 {
  font-size: 20px;
  font-weight: bolder;
}

.card {
  box-shadow: 0px 0px 20px rgb(59, 59, 59);
}

#btns-about {
  box-shadow: 0px 0px 5px #67626d;
}
